Repository project-akri/akri, pull requests merged in 2023-05, with the labels that each got.

#553 Update CODEOWNERS
  CODEOWNERS
Labels: stale

#596 build: Fix intermediate dotnet openCV image
  build/containers/intermediate/Dockerfile.opencvsharp-build
  build/intermediate-containers.mk
Labels: same version, build dependency containers

#590 Update env_logger and clap to fix RUSTSEC-2021-0145
  Cargo.lock
  agent/Cargo.toml
  controller/Cargo.toml
  deployment/helm/Chart.yaml
  discovery-handler-modules/debug-echo-discovery-handler/Cargo.toml
  discovery-handler-modules/onvif-discovery-handler/Cargo.toml
  discovery-handler-modules/opcua-discovery-handler/Cargo.toml
  discovery-handler-modules/udev-discovery-handler/Cargo.toml
  discovery-handlers/debug-echo/Cargo.toml
  discovery-handlers/onvif/Cargo.toml
  discovery-handlers/opcua/Cargo.toml
  discovery-handlers/udev/Cargo.toml
  discovery-utils/Cargo.toml
  samples/brokers/udev-video-broker/Cargo.toml
  shared/Cargo.toml
  version.txt
  webhooks/validating/configuration/Cargo.toml
  webhooks/validating/configuration/src/main.rs
Labels: version/patch

#609 Upgrade from Buster to Bullseye Docker intermediate opencv image
  build/containers/intermediate/Dockerfile.opencvsharp-build
  build/intermediate-containers.mk
Labels: same version, build dependency containers
