Repository project-akri/akri, pull requests merged in 2023-06, with the labels that each got.

#604 Fix incorrect Onvif filter
  Cargo.lock
  agent/Cargo.toml
  controller/Cargo.toml
  deployment/helm/Chart.yaml
  discovery-handler-modules/debug-echo-discovery-handler/Cargo.toml
  discovery-handler-modules/onvif-discovery-handler/Cargo.toml
  discovery-handler-modules/opcua-discovery-handler/Cargo.toml
  discovery-handler-modules/udev-discovery-handler/Cargo.toml
  discovery-handlers/debug-echo/Cargo.toml
  discovery-handlers/onvif/Cargo.toml
  discovery-handlers/onvif/src/discovery_handler.rs
  discovery-handlers/onvif/src/discovery_impl.rs
  discovery-handlers/opcua/Cargo.toml
  discovery-handlers/udev/Cargo.toml
  discovery-utils/Cargo.toml
  samples/brokers/udev-video-broker/Cargo.toml
  shared/Cargo.toml
  version.txt
  webhooks/validating/configuration/Cargo.toml
Labels: version/patch

#594 Add protobuf-compiler to crossbuild intermediate containers
  build/containers/intermediate/Dockerfile.rust-crossbuild-amd64
  build/containers/intermediate/Dockerfile.rust-crossbuild-arm32v7
  build/containers/intermediate/Dockerfile.rust-crossbuild-arm64v8
  build/intermediate-containers.mk
Labels: same version, build dependency containers

#616 Build and push intermediate containers on merge
  .github/workflows/build-opencv-base-container.yml
  .github/workflows/build-rust-crossbuild-container.yml
Labels: same version, build dependency containers

#618 Create internal_list_and_watch so it can be mocked
  Cargo.lock
  agent/Cargo.toml
  agent/src/util/device_plugin_builder.rs
  agent/src/util/device_plugin_service.rs
  controller/Cargo.toml
  deployment/helm/Chart.yaml
  discovery-handler-modules/debug-echo-discovery-handler/Cargo.toml
  discovery-handler-modules/onvif-discovery-handler/Cargo.toml
  discovery-handler-modules/opcua-discovery-handler/Cargo.toml
  discovery-handler-modules/udev-discovery-handler/Cargo.toml
  discovery-handlers/debug-echo/Cargo.toml
  discovery-handlers/onvif/Cargo.toml
  discovery-handlers/opcua/Cargo.toml
  discovery-handlers/udev/Cargo.toml
  discovery-utils/Cargo.toml
  samples/brokers/udev-video-broker/Cargo.toml
  shared/Cargo.toml
  version.txt
  webhooks/validating/configuration/Cargo.toml
Labels: same version

#620 Correct version file location
  version.sh
Labels: same version

#621 Split instance device plugin from device plugin service
  Cargo.lock
  agent/Cargo.toml
  agent/src/util/device_plugin_builder.rs
  agent/src/util/device_plugin_service.rs
  controller/Cargo.toml
  deployment/helm/Chart.yaml
  discovery-handler-modules/debug-echo-discovery-handler/Cargo.toml
  discovery-handler-modules/onvif-discovery-handler/Cargo.toml
  discovery-handler-modules/opcua-discovery-handler/Cargo.toml
  discovery-handler-modules/udev-discovery-handler/Cargo.toml
  discovery-handlers/debug-echo/Cargo.toml
  discovery-handlers/onvif/Cargo.toml
  discovery-handlers/opcua/Cargo.toml
  discovery-handlers/udev/Cargo.toml
  discovery-utils/Cargo.toml
  samples/brokers/udev-video-broker/Cargo.toml
  shared/Cargo.toml
  version.txt
  webhooks/validating/configuration/Cargo.toml
Labels: version/patch

#607 Upgrade from Buster to Bullseye Docker images
  Cargo.lock
  agent/Cargo.toml
  build/akri-containers.mk
  build/akri-dotnet-containers.mk
  build/containers/Dockerfile.agent
  build/containers/Dockerfile.agent-full
  build/containers/Dockerfile.anomaly-detection-app
  build/containers/Dockerfile.controller
  build/containers/Dockerfile.debug-echo-discovery
  build/containers/Dockerfile.onvif-discovery
  build/containers/Dockerfile.onvif-video-broker
  build/containers/Dockerfile.opcua-discovery
  build/containers/Dockerfile.opcua-monitoring-broker
  build/containers/Dockerfile.udev-discovery
  build/containers/Dockerfile.udev-video-broker
  build/containers/Dockerfile.video-streaming-app
  build/containers/Dockerfile.webhook-configuration
  controller/Cargo.toml
  deployment/helm/Chart.yaml
  discovery-handler-modules/debug-echo-discovery-handler/Cargo.toml
  discovery-handler-modules/onvif-discovery-handler/Cargo.toml
  discovery-handler-modules/opcua-discovery-handler/Cargo.toml
  discovery-handler-modules/udev-discovery-handler/Cargo.toml
  discovery-handlers/debug-echo/Cargo.toml
  discovery-handlers/onvif/Cargo.toml
  discovery-handlers/opcua/Cargo.toml
  discovery-handlers/udev/Cargo.toml
  discovery-utils/Cargo.toml
  samples/brokers/onvif-video-broker/README.md
  samples/brokers/opcua-monitoring-broker/README.md
  samples/brokers/udev-video-broker/Cargo.toml
  shared/Cargo.toml
  version.txt
  webhooks/validating/configuration/Cargo.toml
Labels: version/patch
