Repository project-akri/akri, pull requests merged in 2023-04, with the labels that each got.

#556 Modify Agent to reduce frequency of Pods getting `UnexpectedAdmissionError`
  Cargo.lock
  agent/Cargo.toml
  agent/src/util/device_plugin_service.rs
  controller/Cargo.toml
  deployment/helm/Chart.yaml
  discovery-handler-modules/debug-echo-discovery-handler/Cargo.toml
  discovery-handler-modules/onvif-discovery-handler/Cargo.toml
  discovery-handler-modules/opcua-discovery-handler/Cargo.toml
  discovery-handler-modules/udev-discovery-handler/Cargo.toml
  discovery-handlers/debug-echo/Cargo.toml
  discovery-handlers/onvif/Cargo.toml
  discovery-handlers/opcua/Cargo.toml
  discovery-handlers/udev/Cargo.toml
  discovery-utils/Cargo.toml
  samples/brokers/udev-video-broker/Cargo.toml
  shared/Cargo.toml
  version.sh
  version.txt
  webhooks/validating/configuration/Cargo.toml
Labels: version/patch

#554 Set pre_start_required to false in get_device_plugin_options
  agent/src/util/device_plugin_service.rs
Labels: same version

#560 Suffix usage slot to annotation key name
  agent/src/util/crictl_containers.rs
  agent/src/util/device_plugin_service.rs
  shared/src/akri/mod.rs
Labels: same version, version/patch

#568 Fix watch crash api unreachable
  Cargo.lock
  agent/Cargo.toml
  agent/src/util/config_action.rs
  controller/Cargo.toml
  controller/src/util/instance_action.rs
  controller/src/util/node_watcher.rs
  controller/src/util/pod_watcher.rs
  deployment/helm/Chart.yaml
  discovery-handler-modules/debug-echo-discovery-handler/Cargo.toml
  discovery-handler-modules/onvif-discovery-handler/Cargo.toml
  discovery-handler-modules/opcua-discovery-handler/Cargo.toml
  discovery-handler-modules/udev-discovery-handler/Cargo.toml
  discovery-handlers/debug-echo/Cargo.toml
  discovery-handlers/onvif/Cargo.toml
  discovery-handlers/opcua/Cargo.toml
  discovery-handlers/udev/Cargo.toml
  discovery-utils/Cargo.toml
  samples/brokers/udev-video-broker/Cargo.toml
  shared/Cargo.toml
  shared/src/akri/configuration.rs
  shared/src/akri/instance.rs
  version.txt
  webhooks/validating/configuration/Cargo.toml
Labels: version/patch

#561 Append hash of device usage id to device property key name
  Cargo.lock
  agent/Cargo.toml
  agent/src/util/device_plugin_builder.rs
  agent/src/util/device_plugin_service.rs
  agent/src/util/discovery_operator.rs
  controller/Cargo.toml
  deployment/helm/Chart.yaml
  discovery-handler-modules/debug-echo-discovery-handler/Cargo.toml
  discovery-handler-modules/onvif-discovery-handler/Cargo.toml
  discovery-handler-modules/opcua-discovery-handler/Cargo.toml
  discovery-handler-modules/udev-discovery-handler/Cargo.toml
  discovery-handlers/debug-echo/Cargo.toml
  discovery-handlers/onvif/Cargo.toml
  discovery-handlers/opcua/Cargo.toml
  discovery-handlers/udev/Cargo.toml
  discovery-utils/Cargo.toml
  samples/brokers/onvif-video-broker/Akri.cs
  samples/brokers/onvif-video-broker/README.md
  samples/brokers/opcua-monitoring-broker/Program.cs
  samples/brokers/opcua-monitoring-broker/README.md
  samples/brokers/udev-video-broker/Cargo.toml
  samples/brokers/udev-video-broker/README.md
  samples/brokers/udev-video-broker/src/main.rs
  shared/Cargo.toml
  shared/src/os/env_var.rs
  test/shared_test_code.py
  version.txt
  webhooks/validating/configuration/Cargo.toml
Labels: version/minor, version/patch

#570 Verify DiscoveryURL from OPC Server is resolvable
  Cargo.lock
  agent/Cargo.toml
  controller/Cargo.toml
  deployment/helm/Chart.yaml
  discovery-handler-modules/debug-echo-discovery-handler/Cargo.toml
  discovery-handler-modules/onvif-discovery-handler/Cargo.toml
  discovery-handler-modules/opcua-discovery-handler/Cargo.toml
  discovery-handler-modules/udev-discovery-handler/Cargo.toml
  discovery-handlers/debug-echo/Cargo.toml
  discovery-handlers/onvif/Cargo.toml
  discovery-handlers/opcua/Cargo.toml
  discovery-handlers/opcua/src/discovery_impl.rs
  discovery-handlers/udev/Cargo.toml
  discovery-utils/Cargo.toml
  samples/brokers/udev-video-broker/Cargo.toml
  shared/Cargo.toml
  version.txt
  webhooks/validating/configuration/Cargo.toml
Labels: version/patch

#573 Update kubernetes versions in e2e test
  .github/workflows/run-test-cases.yml
Labels: same version

#576 udev: Use device specs instead of mounts
  Cargo.lock
  agent/Cargo.toml
  controller/Cargo.toml
  deployment/helm/Chart.yaml
  discovery-handler-modules/debug-echo-discovery-handler/Cargo.toml
  discovery-handler-modules/onvif-discovery-handler/Cargo.toml
  discovery-handler-modules/opcua-discovery-handler/Cargo.toml
  discovery-handler-modules/udev-discovery-handler/Cargo.toml
  discovery-handlers/debug-echo/Cargo.toml
  discovery-handlers/onvif/Cargo.toml
  discovery-handlers/opcua/Cargo.toml
  discovery-handlers/udev/Cargo.toml
  discovery-handlers/udev/src/discovery_handler.rs
  discovery-utils/Cargo.toml
  samples/brokers/udev-video-broker/Cargo.toml
  shared/Cargo.toml
  version.txt
  webhooks/validating/configuration/Cargo.toml
Labels: version/patch

#548 Update nodejs actions to node16
  .github/actions/build-component-multi-arch/action.yml
  .github/actions/build-component-per-arch/action.yml
  .github/actions/build-intermediate/action.yml
  .github/workflows/auto-update-dependencies.yml
  .github/workflows/build-agent-container.yml
  .github/workflows/build-anomaly-detection-app-container.yml
  .github/workflows/build-controller-container.yml
  .github/workflows/build-discovery-handlers.yml
  .github/workflows/build-onvif-video-broker-container.yml
  .github/workflows/build-opcua-monitoring-broker-container.yml
  .github/workflows/build-opencv-base-container.yml
  .github/workflows/build-rust-code.yml
  .github/workflows/build-rust-crossbuild-container.yml
  .github/workflows/build-udev-video-broker-container.yml
  .github/workflows/build-video-streaming-app-container.yml
  .github/workflows/build-webhook-configuration-container.yml
  .github/workflows/cancel-previous-pr-workflows.yml
  .github/workflows/check-rust.yml
  .github/workflows/check-versioning.yml
  .github/workflows/run-helm.yml
  .github/workflows/run-tarpaulin.yml
  .github/workflows/run-test-cases.yml
  .github/workflows/security-audit.yml
  .github/workflows/stale-tasks.yml
  .github/workflows/update-versions.yml
Labels: same version, build dependency containers

#581 Upgrade Rust CI actions to maintained ones
  .github/workflows/build-rust-code.yml
  .github/workflows/check-rust.yml
  .github/workflows/security-audit.yml
Labels: same version

#584 Fix OPC Discovery Handler resolving IP bug
  Cargo.lock
  agent/Cargo.toml
  controller/Cargo.toml
  deployment/helm/Chart.yaml
  discovery-handler-modules/debug-echo-discovery-handler/Cargo.toml
  discovery-handler-modules/onvif-discovery-handler/Cargo.toml
  discovery-handler-modules/opcua-discovery-handler/Cargo.toml
  discovery-handler-modules/udev-discovery-handler/Cargo.toml
  discovery-handlers/debug-echo/Cargo.toml
  discovery-handlers/onvif/Cargo.toml
  discovery-handlers/opcua/Cargo.toml
  discovery-handlers/opcua/src/discovery_impl.rs
  discovery-handlers/udev/Cargo.toml
  discovery-utils/Cargo.toml
  samples/brokers/udev-video-broker/Cargo.toml
  shared/Cargo.toml
  version.txt
  webhooks/validating/configuration/Cargo.toml
Labels: version/patch

#585 Update warp dependency to fix RUSTSEC-2023-0028
  Cargo.lock
  agent/Cargo.toml
  controller/Cargo.toml
  deployment/helm/Chart.yaml
  discovery-handler-modules/debug-echo-discovery-handler/Cargo.toml
  discovery-handler-modules/onvif-discovery-handler/Cargo.toml
  discovery-handler-modules/opcua-discovery-handler/Cargo.toml
  discovery-handler-modules/udev-discovery-handler/Cargo.toml
  discovery-handlers/debug-echo/Cargo.toml
  discovery-handlers/onvif/Cargo.toml
  discovery-handlers/opcua/Cargo.toml
  discovery-handlers/udev/Cargo.toml
  discovery-utils/Cargo.toml
  samples/brokers/udev-video-broker/Cargo.toml
  shared/Cargo.toml
  version.txt
  webhooks/validating/configuration/Cargo.toml
Labels: version/patch
